<table>
    <tr>
      <th style="width: 1%">Přijmení a jméno</th>
      <th style="width: 1%">Vyučovací hodina</th>
      <th style="width: 1%">Celkem</th>
      <th style="width: 1%">Z toho neomluvených</th>
      <th style="width: 1%">Důvod absence</th>
      <th style="width: 3%">Poznámky</th>
    </tr>
    <tr>
      <td><input type="text" name="jmenoPrijmeni"></td>
      <td>
        <table>
          <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
        </tr>
        <tr>
          
  
         
          <td><input type="checkbox" name="checkBox1" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox2" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox3" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox4" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox5" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox6" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox7" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox8" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox9" value="chyběl"></td>
          <td><input type="checkbox" name="checkBox10"value="chyběl"></td>
        
        </tr>
        </table>
       
    </td>
  
    
      </td>
      <td><input type="number" style="width: 40%" name="celkem">    </td>
      <td><input type="number"  style="width: 30%" name="neomluvenych"></td>
      <td><input type="text" style="width: 90%" name="duvodAbs"></td>
      <td><input type="text"  style="width: 90%" name="poznamky"></td>
    </tr>
  
  </table>