<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title %></title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
   <h1 style="text-align: center">Třídní kniha</h1>
   <a  style="text-decoration: none" href="./zapis" class="zapis">Zápis do třídnice</a>
   <br>
   <a  style="text-decoration: none" href="./upravit" class="zapis">Upravit záznamy</a>
   <br>
   <a  style="text-decoration: none" href="./vytisknout" class="zapis">Tisk záznamů</a>
</body>
</html>